{
  "presets": [
    ["@babel/preset-env", {
      "corejs": 2,
      "targets": {
        "chrome": "67"
      },
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 2,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}